{% extends "base.html.twig" %}

{% block body %}
{% set product = app.session.get('product') %}
{% set user = app.session.get('user') %}
<div class="container col-md-8 text-center mt-3">
   <div class="row">
      <div class="col-md-4">
         <img class="img-thumbnail" src="{{ product.image }}"
         width="200" height="200">
      </div>
      <div class="col-md-8">
         <table class="table table-bordered">
            <tr>
               <th class="text text-success" colspan="6">Order Detail</th>
            </tr>
            <tr>
               <th class="text-white">Customer Name</th>
               <th class="text-white">Product Name</th>
               <th class="text-white">Product Price</th>
               <th class="text-white">Order Quantity</th>
               <th class="text-white">Total Price</th>
               <th class="text-white">Order Date</th>
            </tr>
            <tr>
               <td class="text-white">{{ user.username }}</td> {#user mình đang login#}
               <td class="text-white">{{ product.name }}</td>
               <td class="text-white">$ {{ product.price }}</td>
               <td class="text-white">{{ app.session.get('quantity')  }}</td>
               <td class="text-white">$ {{ app.session.get('price') }}</td>
               <td class="text-white">{{ app.session.get('datetime') | date('d/m/Y H:i:s') }}</td>
           </tr>
            <tr>
               <th colspan="6">
                  <a class="btn btn-primary" href="{{ path('make_order') }}"
                  onclick="return confirm('Are you sure to make this order ?');";
                  >Make order</a>
               </th>
            </tr>
         </table>
      </div>
   </div>
</div>
{% endblock %}
