{% extends "base.html.twig" %}

{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<style>
    body {
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   background: #232427;
}

</style>

{% endblock %}

{% block javascripts %}
			<!-- JavaScript Bundle with Popper -->
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
{% endblock %}
{% block body %}
<div class="container col-md-5 text-center mt-3">
   <div class="card p-3 bg-light">
      <h3 class="alert alert-primary">Add Designer</h3>
      {{ form_start (designerForm) }}
      <div class="form-group">
         <label class="text text-warning h6">Designer Name</label>
         {{ form_widget(designerForm.name, {
            'attr' : {
               'class' : 'form-control',
               'placeholder' : 'Enter Designer name'
            }
         }) }}
      </div>

      <div class="form-group">
         <label class="text text-success h6">Designer Image</label>
         {{
            form_widget(designerForm.image, {
               'attr' : {
                  'class' : 'form-control',
                  'placeholder' : 'Enter Designer image'
               }
            })
         }}
      </div>

      

      <div class="form-group">
         <label class="text text-success h6">Designer Email</label>
         {{
            form_widget(designerForm.email, {
               'attr' : {
                  'class' : 'form-control',
                  'placeholder' : 'Enter Designer email'
               }
            })
         }}
      </div>
      <div class="form-group mt-2">
            <input class="btn btn-outline-danger" type="submit" value="Add">
      </div>
      {{ form_end (designerForm) }}
   </div>
</div>
{% endblock %}