{% extends "base.html.twig" %}

{% block body %}
<div class="container col-md-5 text-center mt-3">
   <div class="card p-3 bg-light">
      <h3 class="alert alert-primary">Add Brand</h3>
      {{ form_start (brandForm) }}
      <div class="form-group">
         <label class="text text-warning h6">Brand Name</label>
         {{ form_widget(brandForm.name, {
            'attr' : {
               'class' : 'form-control',
               'placeholder' : 'Enter Brand name'
            }
         }) }}
      </div>

      <div class="form-group">
         <label class="text text-success h6">Brand Image</label>
         {{
            form_widget(brandForm.image, {
               'attr' : {
                  'class' : 'form-control',
                  'placeholder' : 'Enter Brand image'
               }
            })
         }}
      </div>

      <div class="form-group">
         <label class="text text-success h6">Brand Telephone</label>
         {{
            form_widget(brandForm.telephone, {
               'attr' : {
                  'class' : 'form-control',
                  'placeholder' : 'Enter Brand telephone'
               }
            })
         }}
      </div>

      <div class="form-group">
         <label class="text text-success h6">Brand Email</label>
         {{
            form_widget(brandForm.email, {
               'attr' : {
                  'class' : 'form-control',
                  'placeholder' : 'Enter Brand email'
               }
            })
         }}
      </div>
      <div class="form-group mt-2">
            <input class="btn btn-outline-danger" type="submit" value="Add">
      </div>
      {{ form_end (brandForm) }}
   </div>
</div>
{% endblock %}