{# format giao diện form tự động bằng bootstrap #}
{% form_theme brandForm 'bootstrap_5_layout.html.twig' %}
{% extends "base.html.twig" %}

{% block header %}
   {% if is_granted('ROLE_ADMIN') %}
					<ul id="nav">
						<li >
							<a  href="{{ path('product_home')}}">Home</a>
						</li>
						<li >
							<a  href="{{ path('product_index')}}">Product</a>
						</li>
						<li >
							<a  href="{{ path('designer_index')}}">Designer</a>
						</li>
						<li >
							<a  href="{{ path('category_index')}}">Category</a>
						</li>
						<li >
							<a  href="{{ path('app_logout')}}">Logout
								<u>
									<i>
										{% if app.user != null %}
											({{ app.user.username }})
										{% endif %}
									</i>
								</u>
							</a>
						</li>
					</ul>
				{% else %}
					<!-- ROLE_CUSTOMER -->
					<ul class="nav justify-content-center bg-warning">
						<li >
							<a  href="{{ path('product_home')}}">Store</a>
						</li>
						<li >
							<a  data-bs-toggle="modal" data-bs-target="#modelId">About</a>
						</li>
						<li >
							<a  href="{{ path('app_logout')}}">Logout
								<u>
									<i>
										{% if app.user != null %}
											({{ app.user.username }})
										{% endif %}
									</i>
								</u>
							</a>
						</li>
					</ul>
				{% endif %}

			</div>
{% endblock %}

{% block body %}
<div class="container col-md-4 text-center mt-3">
   <div class="card p-3 bg-light">
      <h3 class="alert alert-primary">Edit brand</h3>
      {# TH1: Nếu đã add nút Submit ở trong form #}
      {# {{ form (formMaterial )}} #}

      {# TH2: Nếu chưa add nút Submit ở trong form #}
      {{ form_start(brandForm) }}
      
      {{ form_widget(brandForm)}}
      <input class="btn btn-outline-danger" type="submit" value="Edit">

      {{ form_end(brandForm) }}
   </div>
</div>
{% endblock %}