{% extends "base.html.twig" %}

{% block body %}
<div class="container col-md-8 text-center mt-3">
<table class="table table-light">
    <tr>
        <th colspan="3">
            <h1 class="text text-primary">Material List</h1>
        </th>
        <th>
            <a class="text-decoration-none" href="{{ path('material_add') }}">
                <img src="{{ asset('images/buttons/add.png') }}" width="40" height="40">
            </a>
        </th>
    </tr>
    <tr>
        <th class="text text-success">Material Id</th>
        <th class="text text-success">Material Name</th>
        <th class="text text-success">Material Color</th>
        <th class="text text-success">Material Texture</th>
        <th class="text text-success">Material Fabric</th>
        <th class="text text-success">Actions</th>
    </tr>
    {% for material in materials %}
        <tr>
            <td>{{ material.id }}</td>
            <td>
                <a class="text-decoration-none" href="{{ path('material_detail', {'id' : material.id }) }}">
                    {{material.name}}
                </a>
           </td>
           <td>{{ material.color }}</td>
           <td>{{ material.texture }}</td>
           <td>{{ material.fabric }}</td>
            <td>
                <a class="text-decoration-none" href="{{ path('material_detail', {'id' : material.id }) }}">
                    <img src="{{ asset('images/buttons/detail.png') }}" width="40" height="40">
                </a>
                <a class="text-decoration-none" href="{{ path('material_edit', {'id' : material.id }) }}">
                    <img src="{{ asset('images/buttons/edit.png') }}" width="40" height="40">
                </a>
                <a class="text-decoration-none" href="{{ path('material_delete', {'id' : material.id }) }}"
                onclick="return confirm('Are you sure to delete this material ?');"
                >
                    <img src="{{ asset('images/buttons/delete.png') }}" width="40" height="40">
                </a>
            </td>
        </tr>
    {% endfor %}
</table>
</div>
{% endblock %}