{% extends "base.html.twig" %}

{% block body %}
<div class="container col-md-5 text-center mt-3">
   <div class="card p-3 bg-light">
      <h3 class="alert alert-primary">Add Category</h3>
      {{ form_start (categoryForm) }}
      <div class="form-group">
         <label class="text text-warning h6">Category Name</label>
         {{ form_widget(category.name, {
            'attr' : {
               'class' : 'form-control',
               'placeholder' : 'Enter Category name'
            }
         }) }}
      </div>

      <div class="form-group">
         <label class="text text-success h6">Category Image</label>
         {{
            form_widget(categoryForm.image, {
               'attr' : {
                  'class' : 'form-control',
                  'placeholder' : 'Enter Category image'
               }
            })
         }}
      </div>

      

      <div class="form-group">
         <label class="text text-success h6">Category Description</label>
         {{
            form_widget(categoryForm.description, {
               'attr' : {
                  'class' : 'form-control',
                  'placeholder' : 'Enter Category email'
               }
            })
         }}
      </div>
      <div class="form-group mt-2">
            <input class="btn btn-outline-danger" type="submit" value="Add">
      </div>
      {{ form_end (categoryForm) }}
   </div>
</div>
{% endblock %}