{% extends "base.html.twig" %}

{% block body %}
<div class="container col-md-8 text-center mt-3">
   <div class="row">
      {# <div class="col-4">
         <div class="card">
            <img src="{{ asset('images/products/'~product.image)}}" width="300" height="300">
         </div>
      </div> #}
      <div class="col-8">
         <table class="table table-bordered">
            <tr>
               <th colspan="2" class="bg-light">
                  <h2 class="text-danger">{{ product.name }} </h2>
               </th>
            </tr>
            {# <tr class="h4">
               <th>Published Date</th>
               <td>{{ product.date | date('d/m/Y')}}</td>
            </tr> #}
            <tr class="h4">
               <th>Product Image</th>
               <td><img src="{{ product.image }} " width="100" height="100" alt=""></td>
            </tr>
            <tr class="h4">
               <th>Product Description</th>
               <td>{{ product.description }} </td>
            </tr>
            <tr class="h4">
               <th>Product Price</th>
               <td>${{ product.price }} </td>
            </tr>
            <tr class="h4">
               <th>Product Size</th>
               <td>${{ product.size }} </td>
            </tr>
            <tr class="h4">
            {% if product.quantity >= 1 %}
               <th>Product Quantity</th>
               <td>{{ product.quantity }}</td>
            {% else %}
               <th>Product Quantity</th>
               <td>Out of stock</td>
            {% endif %}           
            </tr>
            <tr class="h4">
               <th>Category</th>
               <td>
               {% if product.category != null %}
                  <a class="text-decoration-none" href="{{ path('category_detail', {'id' : product.category.id })}}">
                     {{ product.category.name }}
                  </a>    
               {% else %}
                     <i>N/A</i>
               {% endif %}
                </td>
            </tr>
            <tr class="h4">
               <th>Designer(s)</th>
               <td>
               {% if product.designer == null %}
                  <i>Undefined</i>
               {% else %}
                  {% for desginer in product.designers %}
                    <a class="text-decoration-none" href="{{ path('designer_detail', {'id' : designer.id })}}">
                     {{ desginer.name }} 
                    </a>
                     <br>
                  {% endfor %}
               {% endif %}
               </td>
            </tr>

            <tr class="h4">
               <th>Manufacturer</th>
                <td>
               {% if product.manufacturer != null %}
                  <a class="text-decoration-none" href="{{ path('manufacturer_detail', {'id' : product.manufacturer.id })}}">
                     {{ product.manufacturer.name }}
                  </a>    
               {% else %}
                     <i>N/A</i>
               {% endif %}
             </td>
            </tr>

            <tr class="h4">
               <th>Material</th>
                <td>
               {% if product.material != null %}
                  {% for material in product.materials %} {# Chu y xem #}
                  <a class="text-decoration-none" href="{{ path('material_detail', {'id' : material.id })}}">
                     {{ material.name }}
                  </a>    
                     <br>
                  {% endfor %}
               {% else %}
                     <i>N/A</i>
               {% endif %}
               </td>
            </tr>

            <tr class="h4">
               <th>Brand</th>
                <td>
               {% if product.brand != null %}
                  <a class="text-decoration-none" href="{{ path('brand_detail', {'id' : product.brand.id })}}">
                     {{ product.brand.name }}
                  </a>    
               {% else %}
                     <i>N/A</i>
               {% endif %}
             </td>
            </tr>

            
         </table>
      </div>
   </div>
</div>
{% endblock %}